# Arquivos de credenciais
*.json  # Inclua o nome específico do arquivo de credenciais JSON se quiser evitar bloquear outros arquivos JSON

# Ambiente virtual
venv/
.env

# Arquivos temporários
*.pyc
__pycache__/
*.pyo
*.~*

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Distribuição e pacotes
dist/
build/
*.egg-info/
